<!DOCTYPE html>

<head>
  <title>Languages search</title>
  <!--meta(name='description' content='find podcast in the given target language')-->
  <link
    id="favicon"
    rel="icon"
    href="https://gomix.com/favicon-app.ico"
    type="image/x-icon"
  />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/public/style.css" />
</head>
<header>
  <h3>What language do you want to learn</h3>
</header>
<main>
  <p>Choose a language</p>
  <form>
    <div class="input-group col-md-2">
      <select id="sprak"
        ><option value="SE">Swedish</option
        ><option value="KO">Korean</option
        ><option value="ZH">Chinese</option
        ><option value="JP">Japanese</option
        ><option value="ES">Spanish</option
        ><option value="DE">German</option></select
      >
      <span class="input-group-btn"
        ><button class="btn btn-violet" type="submit">Submit</button>
        <section class="dreams"></section>
        <ul class="sp-container" id="new-releases"></ul>
      </span>
    </div>
  </form>
</main>
<section class="results">
  <h3>results</h3>
  <ul id="results">
    <alert value></alert>
  </ul>
</section>
<!-- Your web-app is https, so your scripts need to be too-->
<script
  src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"
></script>
<script src="/public/client.js"></script>
