html
  head
    title My Spotify API app ✨
    
    link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')
    link(rel='stylesheet' href='/style.css')
    
  body
    block footer
    block content
      h1 My Spotify app ✨
      a(href='/authorize') Log in
  
  ul 
      li This is my API application to explore and add new podcast in diffrent lang
      li Log in to find an new favorite podcast you wanna lissen to
      